<form action="/users" method="POST">
  First name:<input type="text" name="user[first_name]" placeholder="name">
  <br>
  Last name:<input type="text" name="user[last_name]" placeholder="last name">
  <br>
  Job:<input type="text" name="user[job]" placeholder="job title">
  <br>
  Email:<input type="text" name="user[email]" placeholder="email">
  <br>


  Discoverable:<input checked="checked" name="user[discoverable]" type="radio" value="true" /> True
<input name="user[discoverable]" type="radio" value="false" /> False


  <br><br>
  <input type="submit" value="Submit">
</form>
